body {
  text-align: center;
  background: radial-gradient(circle at 100%, darkblue, blue 50%, darkblue 75%, lightblue 75%);
  color: blue;
}

p {
  display: inline-block;
}

h1 {
  font-size: 10rem;
  background: linear-gradient(to right, darkblue, lightblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  padding-left: 20px;
  color: black;
  float: left;
  text-align: center;
}

a {
  color: blue;
}

img {
  border: 3px solid black;
  margin: 10px;
  float: right;
  width: 50%;
}

.black {
  color: black;
}

.card {
  border: 3px solid black;
  border-radius: 10%;
}

#right {
  width: 34%;
  float: right;
  text-align: right;
  padding: 10px;
  padding-right: 30px;
}

#left {
  width: 33%;
  float: left;
  padding: 10px;
}

#bottom {
  width: 33%;
  float: bottom;
  text-align: left;
  padding: 10px;
  padding-left: 30px;
}